
{erl_opts, [
  {src_dirs, ["src", "test"]},
  ,warn_unused_vars
  ,warn_export_all
  ,warn_shadow_vars
  ,warn_unused_import
  ,warn_unused_function
  ,warn_bif_clash
  ,warn_unused_record
  ,warn_deprecated_function
  ,warn_obsolete_guard
  ,strict_validation
  ,warn_export_vars
  ,warn_exported_vars
  ,warn_missing_spec
  ,warn_untyped_record
  ,debug_info
  ,{parse_transform, lager_transform}
]}.

{rebar_packages_cdn, "https://hexpm.upyun.com"}.


{deps_dir, "deps"}.
{deps, [
  lager
  ,{mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v3.2.0"}}}
  ,{eredis_pool, {git, "https://github.com/hiroeorz/eredis_pool.git", {branch, "master"}}}
  ,{brod, {git, "https://github.com/klarna/brod.git", {tag, "3.5.2"}}}
  ,{worker_pool, {git, "https://github.com/inaka/worker_pool.git", {tag, "3.1.1"}}}
  ,{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}}

]}.



{escript_main_app, observer_cli}.
{escript_emu_args, "%%! -escript main observer_cli_escriptize -hidden +sbtu +A0 -elixir ansi_enabled true\n"}.
{escript_incl_apps, [recon]}.



{dialyzer_opts, [{warnings, 
  [unmatched_returns, error_handling, race_conditions, behaviours]}
]}.


{edoc_opts, [
  {report_missing_types, true}, 
  {source_path, ["src"]}, 
  {report_missing_types, true}, 
  {todo, true}, 
  {packages, false}, 
  {subpackages, false}
]}.


{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.


{post_hooks, [
  {"(linux|darwin|solaris)", edoc, "escript doc/docsite.erl"}
]}.




{relx, [
  {release,
    { demo_erlang, "0.1.0" },
    [
      cowboy,
      lager,
      demo_erlang,
      sasl
    ]
  },
  {release,
    { demo_lager, "0.1.0" },
    [
      observer_cli,
      lager,
      demo_lager,
      sasl
    ]
  },

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}
]}.

{profiles, [
  {prod, [{relx, [
    {dev_mode, false},
    {include_erts, true}
  ]}]},
  {cowboy, [{relx, [
    {release,
      { demo_erlang, "0.1.0" },
      [
        cowboy,
        demo_erlang,
        sasl
      ]
    },
    {dev_mode, false}
  ]}]},
  {lager, [{relx, [
    {dev_mode, false}
  ]}]}
  ]
}.
